.idea
laptop_html_extractor.py
random.ipynb
venv
/src/logs
try.py
random.ipynb
/logs
/src/__init__.py
__pycache__/
/src/components/logs
src/components/__pycache__
src/components/__pycache__/data_ingestion.cpython-310.pyc
src/components/__pycache__/data_transformation.cpython-310.pyc
